<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
<p><strong><span style="font-size:22px;">My Profile&nbsp;</span></strong></p>

<p style="text-align: center;"><em><strong><span style="font-size:22px;">Here is recommendations for you:</span></strong></em></p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;"><em><strong><span style="font-size:22px;"><input name="recalculate " type="submit" value="Recalculate" /></span></strong></em></p>
</body>
</html>
