<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="trail_style.css" rel="stylesheet">
</head>

<body>

<!-- Navigation Bar -->
  <div class = "header">
  	<div class = "trailTab" class = "active"> Trails </div>
  	<div class = "userTab"> Profile </div>
  </div>

<!-- Page Content -->
  <div class = "content">
  	<div class = "search">
  		<h2> Find Trails </h2>
  		<form>
  			<input type = "text" value = "Zip Code"> </input>
  			<!-- Get the location of the device-->
  			<input type = "submit" value = "Get Your Location" class = "getLocation">  </input>
  			<!-- Use the entered location-->
  			<input type = "submit" class = "enteredLocation"> </input>

  		</form>

  	<div class = "trailList">
        {% for trail in trails %}
  		<div id = "trail">
            <li>{{trail.getName()}}</li>
            <li>{{trail.getDescription()}}</li>
            <li>Length: {{trail.getLength()}}</li>
            <li>Elevation: {{trail.getElevation()}}</li>
  		</div>
        {% endfor %}
  	</div>
  </div>

  <script src="js/script.js"></script>
</body>

</html>