<!doctype html>
<html>
<head>
	<h1><span style="font-size:50px; color:#008080;margin:10px;">Hiking Trails just for You </span></h1>
	<p><span style="font-size:20px;color:#008080"><em>Personalized trails fits your fitness levels and gear recommendations </em></span></p>
</head>

<body>
	<div align = "middle", width = "400", height ="200">
		<img src="{{url_for('static', filename = 'hiking_picture.jpg')}}"/>
	</div>
<br/>
<p><span style="font-size:30px; float: left; color:#008080;"><strong>User Page</strong></span>
<p><span style="font-size:30px; float: right; color:#008080;"><strong>Other Options</strong></span>
</p>
<br/>
	<form action="profile" method="get">
		<p style="text-align: right;"><input name="recalculate" type="submit" value="Recalculate fitness level"/></p>
	</form>
	<form action="for_you" method="get" >
		<p style="text-align: right;"><input name="just_for_you" type="submit" value="Just for You"/></p>
	</form>
<br/>

<p style="text-align: center;"><em><strong><span style="font-size:22px;color:#008080">Here is recommendations for you:</span></strong></em></p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">&nbsp;</p>
<div>{{level}}</div>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;"><em><strong><span style="font-size:22px;">

<form action="/" style="float: center;" method="get">
		<p style="text-align: center;"><span style="background-color:#FFF0F5;"><input name="find_trail" type="submit" value="Find Trails" /></span></p>
</form>

</body>
</html>